<li>
    {{name}}

    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}Devour TIME!{{else}}Vomit UP!{{/if}}
    </button>

    {{!-- <button class="delete-burger" data-id="{{this.id}}">EAT!</button> --}}
</li>